{% load sass_tags %}
<html lang="en">
    <head>
        <title>First Report</title>
        <link href="{% sass_src 'styles/main.scss' %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class='wrapper'>
            <div class="header">
                <div class="header__left">
                    <div class="title">Facteus Insight Report on Consumer Spending and Transactions (FIRST)</div>
                    <div class="bottom"><span>28 September 2021</span><span class="with-divider">2021 vs 2019 Year over Year % Change</span></div>
                </div>
                <div class="header__right">
                    <div>{% load static%}<img src="{% static 'img/logo.png' %}" alt=""></div>
                    <span>Learn more at </span><a href="https://facteus.com">facteus.com</a>
                </div>
            </div>

            <div class="content">
                <div class="blocks">
                    <div class="block">
                        <div class="title">
                            MOST POSITIVE TREND
                        </div>
                        <div class="info">
                            <div class="percents">+76%</div>
                            <div class="text">
                                <div class="name">Video Games</div>
                                <div class="date">22 August</div>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="title">
                            SMALLEST DECLINE week
                        </div>
                        <div class="info">
                            <div class="percents">18 Jul</div>
                            <div class="text">
                                <div class="name">avg</div>
                                <div class="date">+14%</div>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="title">
                            MOST NEGATIVE TREND
                        </div>
                        <div class="info">
                            <div class="percents negative">-76%</div>
                            <div class="text">
                                <div class="name">Cruise Lines</div>
                                <div class="date">8 August</div>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="title">
                            LARGEST DECLINE week
                        </div>
                        <div class="info">
                            <div class="percents negative">1 Aug</div>
                            <div class="text">
                                <div class="name">avg</div>
                                <div class="date">+2%</div>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="">
                    <thead>
                    <tr class="head-row-top">
                        <th class="width-30"></th>
                        <th class="head-row-top__item" colspan="2">July</th>
                        <th class="head-row-top__item" colspan="5">Aug</th>
                        <th class="head-row-top__item" colspan="4">Sep</th>
                    </tr>
                    <tr class="head-row-bottom">
                        <th class="width-30"></th>
                        <th class="head-row-bottom__item" colspan="2">+11% avg</th>
                        <th class="head-row-bottom__item" colspan="5">+11% avg</th>
                        <th class="head-row-bottom__item" colspan="4">+11% avg</th>
                    </tr>
                    <tr class="head-row-dates">
                        <th class="width-30"></th>
                        <th>18</th>
                        <th>25</th>
                        <th>1</th>
                        <th>8</th>
                        <th>15</th>
                        <th>22</th>
                        <th>29</th>
                        <th>5</th>
                        <th>12</th>
                        <th>19</th>
                        <th>26</th>
                    </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                    <tr>
                        <td class="width-30">Retail</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="width-30">Department Stores</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                    </tr>
                    <tr>
                        <td class="width-30">Discount Stores</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                        <td>+46</td>
                    </tr>
                    <tr>
                        <td class="width-30">Grocery Stores & Supermarkets</td>
                        <td>-2</td>
                        <td>-2</td>
                        <td>-2</td>
                        <td>-2</td>
                        <td>-2</td>
                        <td>-2</td>
                        <td>-2</td>
                        <td>-2</td>
                        <td>-2</td>
                        <td>-2</td>
                        <td>-2</td>
                    </tr>
                    <tr>
                        <td class="width-30">Variety Stores</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                    </tr>
                    <tr>
                        <td class="width-30">Wholesale Clubs</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                        <td>+4</td>
                    </tr>
                    <tr>
                        <td class="width-30 results">Retail Average</td>
                        <td>+12</td>
                        <td>+12</td>
                        <td>+12</td>
                        <td>+12</td>
                        <td>+12</td>
                        <td>+12</td>
                        <td>+12</td>
                        <td>+12</td>
                        <td>+12</td>
                        <td>+12</td>
                        <td>+12</td>
                    </tr>
                    </tbody>
                    </table>
            </div>
        </div>
    </body>
</html>